body{
  background-size:100% 100%;
  background-repeat: no-repeat;
  background-color:#0a0501;
  background-image: url
}

a{
  font-family: 'Arvo', serif;
  font-size:7rem;
  letter-spacing:2rem;
  text-decoration:none;
  color:#905322;
  position: absolute;
  top: 40%;
  left: 30%;
}

p{
  font-size:1.5rem;
  font-family: 'Work Sans', sans-serif;
  letter-spacing:1rem;
  text-align:center;
  line-height: 1px;
}



